.ingredient-search_input {
    width: 200px;
    padding: 10px;
    border: 2px solid rgba(50, 82, 60, 0.7);
    border-radius: 15px;
    transition: 0.3s;
}

input.ingredient-search_input:focus {
    outline: none;
    border-color: #32523c;
    width: 800px;
}

input.ingredient-search_input::placeholder {
    text-align: center;
}

.ingredient-search_list {
    position: absolute;
    z-index: 1;
    width: 800px;
}

.ingredient-search_no-results {
    color: darkred;
}
