<div class="card-container" routerLink="/cocktails/details/{{cocktailDetails.idDrink}}">
    <img alt="Ingredient image" [src]=cocktailDetails.strDrinkThumb />
    <div class="info">
        <div class="name">{{ cocktailDetails.strDrink }}</div>
    </div>
    <button class="btn btn-sm btn-light card_button favourite_button"
            (click)="addFavouriteCocktail(cocktailDetails.strDrink); $event.stopPropagation()">
        <img alt="Favourite button" class="card_icon favourite_icon" src="assets/img/heart.png">
    </button>
</div>
