<div>
    <a routerLink="cocktails">
        <img src="assets/img/cocktails.png" alt="cocktails" />
        Cocktails
    </a>
    <a routerLink="ingredients">
        <img src="assets/img/ingredients.png" alt="cocktails" />
        Ingredients
    </a>
    <a routerLink="favourite-cocktails">
        <img src="assets/img/fav-cocktails.png" alt="cocktails" />
        Fav cocktails
    </a>
    <a routerLink="favourite-ingredients">
        <img src="assets/img/fav-ingredients.png" alt="cocktails" />
        Fav ingredients
    </a>
    <a routerLink="stop-list">
        <img src="assets/img/stop-list.png" alt="cocktails" />
        Stop list
    </a>
</div>
