<div class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="cocktails"
        >cocktails</a
    >
    <a class="list-group-item list-group-item-action" routerLink="ingredients"
        >ingredients</a
    >
    <a
        class="list-group-item list-group-item-action"
        routerLink="favourite-cocktails"
        >favourite-cocktails</a
    >
    <a
        class="list-group-item list-group-item-action"
        routerLink="favourite-ingredients"
        >favourite-ingredients</a
    >
    <a class="list-group-item list-group-item-action" routerLink="cart">cart</a>
    <a class="list-group-item list-group-item-action" routerLink="stop-list"
        >stop-list</a
    >
</div>
