<div class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="cocktails">
        <img src="../../assets/img/cocktails.png" alt="cocktails" />
        Cocktails
    </a>
    <a class="list-group-item list-group-item-action" routerLink="ingredients">
        <img src="../../assets/img/ingredients.png" alt="cocktails" />
        Ingredients</a
    >
    <a
        class="list-group-item list-group-item-action"
        routerLink="favourite-cocktails"
    >
        <img src="../../assets/img/fav-cocktails.png" alt="cocktails" />
        Fav cocktails</a
    >
    <a
        class="list-group-item list-group-item-action"
        routerLink="favourite-ingredients"
    >
        <img src="../../assets/img/fav-ingredients.png" alt="cocktails" />
        Fav ingredients</a
    >
    <a class="list-group-item list-group-item-action" routerLink="cart">
        <img src="../../assets/img/cart.png" alt="cocktails" />
        Cart
    </a>
    <a class="list-group-item list-group-item-action" routerLink="stop-list">
        <img src="../../assets/img/stop-list.png" alt="cocktails" />
        Stop list</a
    >
</div>
