.fav-ing_logo {
  height: 100px;
  margin-right: 10px;
}

span {
  font-size: 2.5rem;
}

h5,
h6 {
  text-align: center;
}

.card_icon.plus {
  height: 40px;
}

.plus_button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dislike {
  height: 40px;
  position: absolute;
  top: 0;
  right: 5px;
}
