<ng-container *ngIf="(chosenIngredientList$ | async) as chosenIngredientList">
    <div class="chosen_ingredients">
        <div class="row mb-1">
            <div class="col-12 d-flex justify-content-around align-items-center">
                <span class="text-center fs-5">Chosen ingredients</span>
                <img *ngIf="chosenIngredientList.length"
                     alt="Remove Chosen Ingredient Icon"
                     class="chosen-ingredient_clear-icon"
                     src="assets/img/delete.png"
                     tabindex="0"
                     role="button"
                     (keydown.enter)="clearChosenIngredientList()"
                     (click)="clearChosenIngredientList()">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="list-group">
                <li *ngFor="let ingredientName of chosenIngredientList"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{ ingredientName }}
                    <img alt="Remove Chosen Ingredient Icon"
                         class="chosen-ingredient_clear-icon"
                         src="assets/img/delete.png"
                         tabindex="0"
                         role="button"
                         (keydown.enter)="removeChosenIngredient(ingredientName)"
                         (click)="removeChosenIngredient(ingredientName)">
                </li>
            </div>
        </div>
    </div>
</ng-container>
