<div class="chosen_ingredients">
    <h3 class="text-center fs-4">Chosen ingredients</h3>
    <hr>
    <div class="list-group">
        <li *ngFor="let ingredientName of chosenIngredientList$ | async"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            {{ingredientName}}
            <img (click)="removeChosenIngredient(ingredientName)"
                 alt="Remove Chosen Ingredient Icon"
                 class="chosen_ingredient-remove"
                 src="assets/img/delete.png">
        </li>
    </div>
</div>
