.chosen_ingredients {
    position: sticky;
    top: 10px;
}

.chosen-ingredient_clear-icon {
    height: 25px;
    cursor: pointer;
}

.list-group li {
    width: 90%;
}

li span:hover {
    cursor: pointer;
    text-decoration: underline;
}
