<div class="row">
    <div class="col-12">
        <htm-cocktail-filters></htm-cocktail-filters>
    </div>
</div>
<div class="row">
    <div class="col-3 gy-3 gx-3" *ngFor="let cocktail of allCocktailsList$ | async">
        <htm-cocktail-card
            [cocktailDetails]="cocktail"
            (addFavouriteCocktailEvent)="addFavouriteCocktail($event)"
        ></htm-cocktail-card>
    </div>
</div>
<div class="row my-2">
    <div class="col-12">
        <mat-paginator [pageSizeOptions]="paginationOptions.pageSizeOptions"
                       [pageSize]="paginationOptions.pageSize$ | async"
                       [length]="paginationOptions.length"
                       [showFirstLastButtons]="paginationOptions.showFirstLastButtons"
                       (page)="paginationOptions.pageChange($event)">
        </mat-paginator>
    </div>
</div>
