.favourite-cocktail_clear-icon {
    height: 30px;
    cursor: pointer;
}

.favourite-cocktail_remove-icon {
    height: 25px;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
    color: red;
}
